@model WebApp.NET_MVC_2022_12D_PP_Encuestadora.Models.OpcionPregunta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OpcionPregunta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tituloOpcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tituloOpcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opcionSeleccionada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opcionSeleccionada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pregunta.tituloPregunta)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OpcionPreguntaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
