@model IEnumerable<WebApp.NET_MVC_2022_12D_PP_Encuestadora.Models.OpcionPregunta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tituloOpcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opcionSeleccionada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pregunta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tituloOpcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opcionSeleccionada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta.tituloPregunta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OpcionPreguntaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OpcionPreguntaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OpcionPreguntaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
