@model IEnumerable<WebApp.NET_MVC_2022_12D_PP_Encuestadora.Models.Pregunta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tituloPregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoPregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Encuesta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tituloPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encuesta.tituloEncuesta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PreguntaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PreguntaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PreguntaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
