@model WebApp.NET_MVC_2022_12D_PP_Encuestadora.Models.Encuesta

@{
    ViewData["Title"] = "Responder";
}

<h1>Responer Encuesta</h1>

<div>
    <h4> @Html.DisplayFor(model => model.tituloEncuesta)</h4>
    <hr />
    <dl class="row">
        @*
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tituloEncuesta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tituloEncuesta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.datetimeCreacionEncuesta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.datetimeCreacionEncuesta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.datetimeVencimientoEncuesta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.datetimeVencimientoEncuesta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.puntosEncuesta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.puntosEncuesta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.mailCliente)
        </dd>*@
    </dl>
</div>
<p>Comentario1: Deberia filtrar y mostrar las preguntas y opciones de la Encuesta seleccionada</p>
<p>Comentario2: El boton Seleccionar Opcion deberia guardar la seleccion del usuario</p>
<p>Comentario3: El boton Finalizar Encuesta deberia guardar la relacion EncuestaUsuario (y sumar puntos al usuario?)</p>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.EncuestaId">Edit</a> |*@
    <input type="hidden" asp-for="EncuestaId" />
    <input type="submit" value="Finalizar Encuesta" class="btn btn-danger" />
    <a asp-action="Disponibles">Back to List</a>
    <p><a class="text-dark" asp-area="" asp-controller="EncuestaUsuario" asp-action="Index">Relacionar EncuestasUsuarios</a></p>

</div>
